html {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img.logo {
  width: 100%;
  max-width: 120px;
}

img.logo-footer {
  width: 100%;
  max-width: 120px;
  margin-bottom: 15px;
  margin-left: 0;
}

section {
  width: 100%;
  background-color: #FFF;
  min-height: 950px;
  padding: 2vh;
  padding-top: 84px;
  padding-bottom: 84px;
}

section .inner-content {
  width: 100%;
  max-width: 1080px;
  margin: 0px auto;
}

section#clientes {
  min-height: 500px;
}

section.header {
  background-color: #154a85;
  position: relative;
  background: linear-gradient(270deg, #154a85, #0074a9, #009db1);
  background-size: 600% 600%;
  -webkit-animation: bg-animation-261 10s ease infinite;
  -moz-animation: bg-animation-261 10s ease infinite;
  animation: bg-animation-261 10s ease infinite;
}

@-webkit-keyframes bg-animation-261 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes bg-animation-261 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bg-animation-261 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

section.header h1 {
  position: relative;
  top: 25vh;
}

@media (max-width: 650px) {
  section.header h1 {
    top: 15vh !important;
  }
}

@media (max-width: 400px) {
  section.header h1 {
    top: 15vh !important;
  }
}

section.header h2 {
  position: relative;
  top: 23vh;
  min-height: 100px;
}

@media (max-width: 1600px) {
  section.header h2 {
    top: 23vh;
  }
}

@media (max-width: 650px) {
  section.header h2#typed {
    font-size: 1.4rem;
    top: 15vh;
  }
}

@media (max-width: 400px) {
  section.header h2#typed {
    font-size: 1.4rem;
    top: 15vh;
  }
}

section.header canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

section.header img.number-header {
  width: 100%;
  object-fit: contain;
  max-width: 1000px;
  margin: 0px auto;
  position: absolute;
  top: 15vh;
  z-index: 1;
  left: 0;
  right: 0;
  display: none;
}

@media (max-width: 1600px) {
  section.header img.number-header {
    max-width: 800px;
  }
}

section.header .cta-btn {
  position: relative;
  top: 30vh;
  z-index: 2;
}

@media (max-width: 1600px) {
  section.header .cta-btn {
    top: 20vh;
  }
}

@media (max-width: 650px) {
  section.header .cta-btn {
    top: 10vh !important;
    font-size: 1.2rem !important;
  }
}

@media (max-width: 400px) {
  section.header .cta-btn {
    top: 10vh !important;
    font-size: 1.2rem !important;
  }
}

section.servicios {
  background-color: #f2f2f2;
  background-color: #FFFFFF;
}

section.servicios-2 {
  background-color: #FFF;
}

section.herramientas {
  background-color: #f2f2f2;
}

section.nosotros-1 {
  background-color: #1d2754;
  /* Old browsers */
  background: -moz-linear-gradient(left, #1d2754 1%, #131a3b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1d2754 1%, #131a3b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1d2754 1%, #131a3b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2754', endColorstr='#131a3b',GradientType=1 );
  background-image: url("../img/bg-squares-nosotros-blue.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 750px;
}

section.nosotros-2 {
  background-color: #FFF;
  background-image: url("../img/bg-squares-nosotros-white.png");
  background-position: center;
  background-size: 83.2%;
  background-repeat: no-repeat;
  min-height: 750px;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #FFF;
  font-size: 5rem;
  font-weight: 300;
  text-align: center;
  margin: 20px auto;
  line-height: 1.4;
  z-index: 2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 span {
  font-weight: 500;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: #FFF;
  font-size: 2.1rem;
  font-weight: 300;
  text-align: center;
  margin: 20px auto;
  line-height: 1.6;
  z-index: 2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 span {
  font-weight: 500;
}

h3 {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  margin: 20px auto;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 span {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: 2.5rem;
  font-weight: 600 !important;
  text-align: center;
  margin: 20px auto;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4 {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  margin: 20px auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h5 {
  font-family: "Poppins", sans-serif;
  color: #979797;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  margin: 20px auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
}

p {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  margin: 30px auto;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p span {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  margin: 30px auto;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500 !important;
}

a.cta-btn {
  width: 100%;
  max-width: 350px;
  margin: 20px auto;
  height: 70px;
  background-color: #2585fb;
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-radius: 400px;
  transition: all ease-in-out 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.cta-btn i {
  margin-left: 10px;
  color: #FFF;
}

a.cta-btn:hover {
  background-color: #0354b7;
  text-decoration: none;
  transform: scale(1.1);
}

.service-container {
  background-color: transparent;
  width: 100%;
  padding: 30px;
  min-height: 400px;
  margin: 20px auto;
  border-radius: 10px;
}

.service-container:hover {
  background-color: #2585fb;
  transition: all ease-in-out 0.3s;
}

.service-container:hover h4 {
  color: #FFF !important;
  transition: all ease-in-out 0.3s;
}

@media (max-width: 992px) and (min-width: 786px) {
  .service-container:hover h4 {
    font-size: 0.8rem;
  }
}

.service-container:hover a.expand-btn {
  border: 2px solid #FFF !important;
  transition: all ease-in-out 0.3s;
}

.service-container:hover a.expand-btn i {
  color: #FFF !important;
  transition: all ease-in-out 0.3s;
}

.service-container:hover .service-expand-text-1 {
  color: #FFF;
  transition: all ease-in-out 0.3s;
}

.service-container:hover .service-expand-text-1.active-text-1 {
  display: block;
  transform: scale(1);
}

.service-container:hover .service-expand-text-2 {
  color: #FFF;
  transition: all ease-in-out 0.3s;
}

.service-container:hover .service-expand-text-2.active-text-2 {
  display: block;
  transform: scale(1);
}

.service-container:hover .service-expand-text-3 {
  color: #FFF;
  transition: all ease-in-out 0.3s;
}

.service-container:hover .service-expand-text-3.active-text-3 {
  display: block;
  transform: scale(1);
}

.service-container:hover .service-expand-text-4 {
  color: #FFF;
  transition: all ease-in-out 0.3s;
}

.service-container:hover .service-expand-text-4.active-text-4 {
  display: block;
  transform: scale(1);
}

.service-container img.service-icon {
  width: 100%;
  height: 130px;
  margin: 20px auto;
  object-fit: contain;
}

.service-container img.service-icon.service-icon-2 {
  padding-left: 20px;
}

.service-container img.service-icon.service-icon-3 {
  padding-left: 20px;
}

.service-container img.service-icon.service-icon-4 {
  padding-left: 20px;
}

.service-container h4 {
  width: 80%;
  margin: 20px auto;
  min-height: 70px;
}

.service-container a.expand-btn {
  background-color: transparent;
  border: 2px solid #000;
  width: 100%;
  border-radius: 100px;
  max-width: 45px;
  height: 45px;
  margin: 20px auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.service-container a.expand-btn:hover {
  text-decoration: none !important;
  transform: scale(1.1);
  cursor: pointer;
}

.service-container a.expand-btn i {
  color: #000;
}

.service-container .service-expand-text-1 {
  display: none;
  transform: scale(0);
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 20px auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.service-container .service-expand-text-2 {
  display: none;
  transform: scale(0);
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 20px auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.service-container .service-expand-text-3 {
  display: none;
  transform: scale(0);
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 20px auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.service-container .service-expand-text-4 {
  display: none;
  transform: scale(0);
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 20px auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.herramientas-container {
  width: 100%;
  max-width: 120px;
  min-height: 120px;
  background-color: #FFF;
  border-radius: 200px;
  margin: 20px auto;
  transition: all ease-in-out 0.3s;
}

.herramientas-container:hover {
  background-color: #000;
}

.herramientas-container:hover i {
  color: #FFF !important;
}

.herramientas-container i {
  color: #000;
  font-size: 4rem;
}

.herramientas-container i.icon-swift {
  color: #fb4c29;
}

.herramientas-container i.icon-java {
  color: #0074b9;
}

.herramientas-container i.icon-react-native {
  color: #000;
}

.herramientas-container i.icon-angular-js {
  color: #dd0031;
}

.herramientas-container i.icon-react {
  color: #05a5d1;
}

.herramientas-container i.icon-vue-js {
  color: #4fc08d;
}

.herramientas-container i.icon-html5 {
  color: #e54c21;
}

.herramientas-container i.icon-css3 {
  color: #264de4;
}

.herramientas-container i.icon-sass {
  color: #c6538c;
}

.herramientas-container i.icon-php {
  color: #7c88b8;
}

.herramientas-container i.icon-mysql {
  color: #4479a1;
}

.row.full-width {
  width: 100%;
}

.nosotros-1 {
  position: relative;
}

.nosotros-1 h3 {
  color: #FFF;
  width: 100%;
  max-width: 700px;
  font-weight: 300;
  margin: 30px auto;
}

.nosotros-1 h3 span {
  color: #FFF;
}

.nosotros-1 p {
  color: #FFF;
  font-weight: 300;
}

.nosotros-1 p span {
  color: #FFF;
}

.nosotros-1 img.venezuelan-map {
  width: 100%;
  object-fit: contain;
  height: 650px;
  position: absolute;
  bottom: -400px;
  margin: 0px auto;
}

@media (max-width: 1600px) {
  .nosotros-1 img.venezuelan-map {
    bottom: -300px;
  }
}

.nosotros-2 h3 {
  color: #000;
  font-weight: 300;
  width: 100%;
  max-width: 740px;
  margin: 30px auto;
  margin-top: 400px;
}

.nosotros-2 h3 span {
  color: #2585fb;
}

.nosotros-2 p {
  color: #000;
}

.nosotros-2 p span {
  color: #000;
}

footer {
  width: 100%;
  min-height: 600px;
  background-color: #022652;
  padding: 3vh;
}

@media (max-width: 650px) {
  footer {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}

footer h3 {
  color: #FFF;
}

footer form.full-width {
  width: 100%;
  margin-bottom: 40px;
}

footer input.form-control {
  color: #FFF;
  background-color: transparent;
  border: solid 2px #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: left;
  padding-left: 50px;
  width: 100%;
  max-width: 700px;
  height: 60px;
  margin: 20px auto;
  border-radius: 100px;
}

footer input.form-control:focus {
  background-color: transparent;
  color: #FFF;
  outline: white;
}

footer input.form-control.active {
  background-color: transparent;
  color: #FFF;
}

footer input.form-control::-webkit-input-placeholder {
  color: #FFF !important;
  font-family: "Poppins", sans-serif;
}

footer input.form-control:-moz-placeholder {
  color: #FFF !important;
  font-family: "Poppins", sans-serif;
}

footer input.form-control::-moz-placeholder {
  color: #FFF !important;
  font-family: "Poppins", sans-serif;
}

footer input.form-control:-ms-input-placeholder {
  color: #FFF !important;
  font-family: "Poppins", sans-serif;
}

footer a.enviar-btn {
  width: 100%;
  max-width: 200px;
  height: 50px;
  border-radius: 300px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #022652;
  text-align: center;
  margin: 50px auto;
  background-color: #FFF;
  transition: all ease-in-out 0.3s;
  transform: scale(1);
  border: none !important;
}

footer a.enviar-btn:hover {
  transform: scale(1.1);
  background-color: #e6e6e6;
  cursor: pointer;
  text-decoration: none;
}

footer a.enviar-btn i {
  margin-left: 10px;
  color: #022652;
}

ul.footer-list {
  width: 100%;
  min-height: 200px;
  padding-left: 0 !important;
  margin: 0px;
  list-style: none !important;
}

ul.footer-list li {
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #FFF;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 15px;
  list-style: none !important;
}

ul.footer-list li a {
  font-family: "Poppins", sans-serif;
  color: #FFF;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: left;
  transition: all ease-in-out 0.3s;
}

ul.footer-list li a:hover {
  text-decoration: none !important;
  transform: scale(1.1);
  cursor: pointer;
}

ul.footer-social-list {
  width: 100%;
  max-width: 200px;
  padding-left: 0 !important;
  margin: 0px;
  margin-right: 0px;
  list-style: none !important;
}

ul.footer-social-list li {
  width: 100%;
  margin-right: 0;
  color: #FFF;
  list-style: none !important;
}

ul.footer-social-list li a {
  width: 100%;
  color: #FFF;
}

ul.footer-social-list li a:hover {
  text-decoration: none !important;
  cursor: pointer;
}

ul.footer-social-list li a:hover i {
  transform: scale(1.1);
}

ul.footer-social-list li a i {
  color: #FFF;
  font-size: 2rem;
  transition: all ease-in-out 0.3s;
  transform: scale(1);
}

.footer-column-container {
  width: 90%;
  margin: 0px auto;
}

.no-margin-right {
  margin-right: 10px !important;
}

p.footer-text {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: left;
  line-height: 1.6;
  color: #FFF;
  margin-top: 0px;
  margin-bottom: 15px;
}

p.footer-text i {
  margin-right: 10px;
}

p.footer-text a {
  color: #FFF;
}

p.footer-text a:hover {
  cursor: pointer;
}

p.footer-copyright {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  text-align: left;
  line-height: 1.6;
  font-weight: 300;
  color: #FFF;
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer-line-2 {
  margin-top: 20px;
}

.carreras {
  position: relative;
  padding-top: 10vh;
  padding-bottom: 10vh;
  min-height: 80vh;
  background-color: #f2f2f2;
}

.carreras h3 {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 600;
  text-align: left;
}

.carreras p {
  font-family: "Poppins", sans-serif;
  color: #333;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
  font-size: 1.2rem;
}

.carreras ul {
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  text-align: left;
}

.carreras ul li {
  font-family: "Poppins", sans-serif;
  color: #333;
  font-weight: 400;
  list-style-type: disc;
  margin-bottom: 10px;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: left;
}

.carreras img.img-carreras {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  margin-right: 0px;
  box-shadow: 0px 0px 20px 0px rgba(51, 51, 51, 0.29);
}

.carreras button[type="submit"] {
  width: 100%;
  max-width: 250px;
  height: 50px;
  border-radius: 300px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #FFF;
  text-align: center;
  margin: 50px auto;
  background-color: #2585fb;
  transition: all ease-in-out 0.3s;
  transform: scale(1);
  border: none !important;
}

.carreras button[type="submit"]:hover {
  transform: scale(1.1);
  background-color: #046be9;
  cursor: pointer;
}

.carreras button[type="submit"] i {
  margin-left: 10px;
  color: #FFF;
}

.apply-button-expand-text {
  width: 130%;
  background-color: #f1f1f1;
  border-radius: 200px;
  color: #000;
  padding: 10px;
  padding-left: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 1.2rem;
  transform: scale(0);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  transition: all ease-in-out 0.3s;
  transform-origin: left;
  opacity: 0;
}

@media (max-width: 768px) {
  .apply-button-expand-text {
    width: 100%;
  }
}

.apply-button-expand-text i {
  color: #000;
  margin-right: 7px;
  margin-left: 7px;
}

.apply-button-expand-text a {
  color: #2585fb;
  margin-left: 5px;
}

.apply-button-expand-text a:hover {
  text-decoration: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 1.2rem;
}

.apply-button-expand-text.active-text-apply-button {
  transform: scale(1);
  opacity: 1;
}

.image-desktop-carreras-right {
  position: absolute;
  right: 0vw;
  top: 15vh;
}

.image-desktop-carreras-right img {
  width: 100%;
  max-width: 40vw !important;
}

@media (max-width: 767px) {
  .image-desktop-carreras-right img {
    display: none !important;
  }
}

@media (max-width: 400px) {
  .image-desktop-carreras-right img {
    display: none !important;
  }
}

@media (max-width: 650px) {
  .image-desktop-carreras-right img {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .image-desktop-carreras-right img {
    display: none !important;
  }
}

ul.navbar-261 {
  margin: 0;
  padding-left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 3;
  transition: all ease-in-out 0.3s;
}

ul.navbar-261.scrolled {
  background-color: #FFF !important;
  box-shadow: 0px -4px 8px 0px #333;
}

ul.navbar-261.scrolled a.lang-switch {
  color: #FFF !important;
}

ul.navbar-261.scrolled a.lang-switch:hover {
  color: #FFF !important;
  border-color: #2585fb !important;
}

ul.navbar-261.scrolled li {
  color: #000 !important;
}

ul.navbar-261.scrolled li.contactanos a {
  border-color: #000 !important;
}

ul.navbar-261.scrolled li.contactanos a:hover {
  color: #FFF !important;
  border-color: #2585fb !important;
}

ul.navbar-261.scrolled li a {
  color: #000 !important;
}

ul.navbar-261 a.lang-switch {
  color: #FFF;
  border-color: #000 !important;
  transition: all ease-in-out 0.2s;
  padding-right: 7px;
  font-size: 1.2rem;
}

ul.navbar-261 a.lang-switch:hover {
  border-color: #2585fb !important;
  transition: all ease-in-out 0.2s;
}

@media (max-width: 768px) {
  ul.navbar-261 {
    display: none;
  }
}

ul.navbar-261 li {
  width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 0.8;
}

ul.navbar-261 li.contactanos {
  padding-right: 30px;
  margin-left: auto;
  justify-content: flex-end;
  flex: 0.6;
}

ul.navbar-261 li.contactanos a {
  width: 100%;
  max-width: 260px;
  border-radius: 50px;
  border: 1.5px solid white;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: transparent;
  transition: all ease-in-out 0.3s;
  justify-content: center;
}

ul.navbar-261 li.contactanos a:hover {
  background-color: #2585fb;
  border-color: #2585fb;
  transform: scale(1.1);
  cursor: pointer;
}

ul.navbar-261 li.contactanos a i {
  margin-right: 7px;
}

ul.navbar-261 li.logo {
  flex: 2;
}

ul.navbar-261 li.logo a {
  justify-content: flex-start;
  padding-left: 30px;
}

ul.navbar-261 li a {
  width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #FFF;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 992px) and (min-width: 786px) {
  ul.navbar-261 li a {
    font-size: 0.8rem;
  }
}

ul.navbar-261 li a:hover {
  color: #FFF;
  cursor: pointer;
}

ul.navbar-261-mobile {
  width: 100%;
  background-color: transparent;
  height: 10vh;
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  ul.navbar-261-mobile {
    display: flex;
  }
}

ul.navbar-261-mobile.scrolled {
  background-color: #FFF !important;
  box-shadow: 0px -4px 8px 0px #333;
}

ul.navbar-261-mobile.scrolled button.hamburger .hamburger-inner {
  background-color: #000 !important;
}

ul.navbar-261-mobile.scrolled button.hamburger .hamburger-inner:before {
  background-color: #000 !important;
}

ul.navbar-261-mobile.scrolled button.hamburger .hamburger-inner:after {
  background-color: #000 !important;
}

ul.navbar-261-mobile.scrolled li {
  color: #000 !important;
}

ul.navbar-261-mobile.scrolled li.contactanos a {
  border-color: #000 !important;
}

ul.navbar-261-mobile.scrolled li.contactanos a:hover {
  color: #FFF !important;
  border-color: #2585fb !important;
}

ul.navbar-261-mobile.scrolled li a {
  color: #000 !important;
}

ul.navbar-261-mobile.scrolled li.lang-select ul.lang-select-dropdown-title {
  color: #000;
}

ul.navbar-261-mobile li.logo {
  margin-right: auto;
  margin-left: 0;
  padding-left: 15px;
  color: #000;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul.navbar-261-mobile li.logo a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

ul.navbar-261-mobile li.logo a:hover {
  cursor: pointer;
}

ul.navbar-261-mobile li.lang-select {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -15%;
  margin-top: 1%;
  flex: 0;
}

ul.navbar-261-mobile li.lang-select ul.lang-select-dropdown-title {
  color: #FFF;
  font-size: 1.5rem;
}

ul.navbar-261-mobile li.lang-select ul.lang-select-dropdown-title li.dropdown-option {
  list-style-type: none;
  position: fixed;
}

ul.navbar-261-mobile li.lang-select ul.lang-select-dropdown-title li.dropdown-option a {
  font-size: 1rem;
  color: #FFF !important;
}

ul.navbar-261-mobile li.lang-select ul.lang-select-dropdown-title li.dropdown-option.option-1 {
  top: 66px !important;
}

ul.navbar-261-mobile li.lang-select ul.lang-select-dropdown-title li.dropdown-option.option-2 {
  top: 105px !important;
  padding-top: 2px !important;
  padding-left: 7px !important;
  padding-bottom: 7px !important;
}

ul.navbar-261-mobile li.menu-trigger {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul.navbar-261-mobile li.menu-trigger button.hamburger .hamburger-inner {
  background-color: #FFF;
}

ul.navbar-261-mobile li.menu-trigger button.hamburger .hamburger-inner:before {
  background-color: #FFF;
}

ul.navbar-261-mobile li.menu-trigger button.hamburger .hamburger-inner:after {
  background-color: #FFF;
}

.options-mobile {
  width: 100%;
  height: 90vh;
  background-color: #FFF;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 10vh;
  left: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
}

.options-mobile.active {
  left: 0vw;
}

.options-mobile li {
  list-style: none;
  width: 100%;
  height: 50px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
}

.options-mobile li:hover {
  background-color: #cccccc;
}

.options-mobile li a {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
}

.options-mobile li a:hover {
  cursor: pointer;
}

.options-mobile li a i {
  margin-right: 7px;
}

@media (max-width: 1600px) {
  h1 {
    font-size: 3.5rem;
  }
  h1 span {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h2 span {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 2rem;
  }
  h3 span {
    font-size: 2rem;
  }
  p {
    font-size: 1.4rem;
  }
  p span {
    font-size: 1.4rem;
  }
  .service-container {
    min-height: 390px;
  }
  img.service-icon {
    height: 100px !important;
  }
  .herramientas-container {
    width: 120px;
    height: 120px;
  }
  .herramientas-container i {
    font-size: 3.5rem;
  }
  .venezuelan-map {
    height: 750px !important;
  }
  .carreras {
    position: relative;
  }
  .carreras p {
    font-size: 1.2rem;
  }
  .carreras ul li {
    font-size: 1.1rem;
    text-align: left;
  }
  .carreras img.img-carreras {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    margin-right: 0px;
  }
  .carreras button[type="submit"] {
    font-size: 1.5rem;
    color: #FFF;
    background-color: #2585fb;
  }
  .carreras button[type="submit"]:hover {
    transform: scale(1.1);
    background-color: #046be9;
    cursor: pointer;
  }
  .carreras button[type="submit"] i {
    margin-left: 10px;
    color: #FFF;
  }
  .image-desktop-carreras-right {
    position: absolute;
    right: 0vw;
    top: 10vh;
  }
  .image-desktop-carreras-right img {
    width: 100%;
    max-width: 40vw !important;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }
  h1 span {
    font-size: 2rem;
  }
  h2 {
    font-size: 0.6rem;
  }
  h2 span {
    font-size: 0.6rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h3 span {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.9rem;
  }
  p span {
    font-size: 0.9rem;
  }
  section {
    min-height: 90vh !important;
  }
  section.header h1 {
    top: 30vh;
  }
  section.header h2 {
    top: 30vh;
  }
  section.header .cta-btn {
    top: 20vh;
    height: 50px;
  }
  .cta-btn {
    font-size: 1rem !important;
  }
  .service-container {
    min-height: 300px;
  }
  img.service-icon {
    height: 80px !important;
  }
  h4 {
    font-size: 1.2rem !important;
    min-height: 50px !important;
  }
  .herramientas-container {
    width: 120px;
    height: 120px;
  }
  .herramientas-container i {
    font-size: 3.5rem;
  }
  .venezuelan-map {
    height: 750px !important;
    bottom: -370px !important;
  }
  section.nosotros-2 h3 {
    margin-top: 30vh;
  }
  .footer-list li {
    text-align: center !important;
  }
  .footer-list li a {
    text-align: center !important;
  }
  .footer-text {
    font-size: 0.9rem !important;
    text-align: center !important;
  }
  .footer-copyright {
    text-align: center !important;
    margin-bottom: 30px !important;
  }
  .footer-social-list {
    justify-content: center !important;
  }
  .footer-column-container {
    justify-content: center !important;
  }
  .footer-column-container img {
    width: 100%;
    max-width: 300px;
    margin: 30px auto;
  }
  .full-width {
    margin: 0px;
  }
  .carreras {
    position: relative;
    min-height: 60vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
}

@media (max-width: 400px) and (max-width: 650px) {
  .carreras {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}

@media (max-width: 400px) {
  .carreras h3 {
    font-size: 2rem;
    text-align: center;
  }
  .carreras p {
    font-size: 1rem;
    text-align: center;
  }
  .carreras ul li {
    font-size: 0.9rem;
    text-align: left;
  }
  .carreras img.img-carreras {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    margin-right: 0px;
  }
  .carreras button[type="submit"] {
    font-size: 1.5rem;
    color: #FFF;
    background-color: #2585fb;
    margin: 10px auto;
    width: 100%;
    max-width: 300px;
  }
  .carreras button[type="submit"]:hover {
    transform: scale(1.1);
    background-color: #046be9;
    cursor: pointer;
  }
  .carreras button[type="submit"] i {
    margin-left: 10px;
    color: #FFF;
  }
  .image-desktop-carreras-right {
    position: absolute;
    right: 0vw;
    top: 0vh;
  }
  .image-desktop-carreras-right img {
    width: 100%;
    max-width: 40vw !important;
  }
}

@media (max-width: 1280px) {
  .image-desktop-carreras-right img {
    max-width: 40vw !important;
  }
  .venezuelan-map {
    height: 650px !important;
  }
  p.footer-text {
    font-size: 1rem;
  }
}

ul.lang-select-dropdown-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 0;
}

ul.lang-select-dropdown-title:hover {
  cursor: pointer;
}

ul.lang-select-dropdown-title img {
  width: 100%;
  height: 10px;
}

ul.lang-select-dropdown-title li.dropdown-option {
  text-align: right;
  background-color: #1d2754;
  position: absolute;
  top: 50px;
  transform: translateX(160px);
  transition: 0.2s all ease-in-out;
  opacity: 0;
}

ul.lang-select-dropdown-title li.dropdown-option.dropped {
  transform: translateX(0px);
  opacity: 1;
}

ul.lang-select-dropdown-title li.dropdown-option a {
  font-size: 0.8rem;
  text-align: right;
  text-align: right;
  background-color: #1d2754;
  padding: 10px;
}

ul.lang-select-dropdown-title li.dropdown-option a:hover {
  background-color: #2585fb;
}

ul.lang-select-dropdown-title li.dropdown-option.option-1 {
  top: 53px;
  right: 0px;
}

ul.lang-select-dropdown-title li.dropdown-option.option-2 {
  top: 90px;
  right: 0px;
}

div.container-clientes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.container-clientes div.owl-carousel div.logo-cliente {
  cursor: pointer;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.container-clientes div.owl-carousel div.logo-cliente img {
  width: 100%;
  max-width: 240px;
}

div.container-clientes ul.lista-clientes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 200px;
}

div.container-clientes ul.lista-clientes li {
  width: 100%;
  list-style-type: none !important;
  margin-left: 20px;
  margin-right: 20px;
}

div.container-clientes ul.lista-clientes li a {
  width: 100%;
  text-decoration: none !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.container-clientes ul.lista-clientes li a img {
  width: 100%;
  max-width: 525px;
}
