$font-1: 'Poppins' , sans-serif;
$font-color-1: #000;
$font-color-2: #979797;
//Colors
$primary-color: #2585fb;
//Sizes
$header-title-size: 5rem;
$header-subtitle-size: 2.1rem;
$section-title-size: 2.5rem;
$paragraph-size: 1.6rem;
$button-text-size: 1.8rem;
$expand-text-size: 1rem;
$email-size: 1.3rem;
$footer-list-size: 1.1rem;
$footer-text-size: 1.1rem;
$footer-copyright-size: 0.9rem;
$carreras-text-size: 1.1rem;
$navbar-font-size: 1.2rem;
//Responsive sizes
$responsive-laptop: 1600px;
$responsive-mobile-small: 400px;
$responsive-mobile-big: 650px;
$responsive-ipad: 768px;
//mixins
@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}
html {
  font-family: $font-1;
  color: $font-color-1;
  font-size: 14px;
  font-weight: 400;
  @include font-smoothing;
}
body {
  background-color: white;
  font-family: $font-1;
  color: $font-color-1;
  font-size: 14px;
  font-weight: 400;
  @include font-smoothing;
}
img.logo {
  width: 100%;
  max-width: 120px;
}
img.logo-footer {
  width: 100%;
  max-width: 120px;
  margin-bottom: 15px;
  margin-left: 0;
}
section {
  width: 100%;
  background-color: #FFF;
  min-height: 950px;
  padding: 2vh;
  padding-top: 84px;
  padding-bottom: 84px;
  .inner-content {
    width: 100%;
    max-width: 1080px;
    margin: 0px auto;
  }
  &#clientes {
    min-height: 500px;
  }
  &.header {
    background-color: #154a85;
    position: relative;
    //bg-animation   
    background: linear-gradient(270deg, #154a85, #0074a9, #009db1);
    background-size: 600% 600%;

    -webkit-animation: bg-animation-261 10s ease infinite;
    -moz-animation: bg-animation-261 10s ease infinite;
    animation: bg-animation-261 10s ease infinite;

    @-webkit-keyframes bg-animation-261 {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes bg-animation-261 {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes bg-animation-261 { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    h1 {
      position: relative;
      top: 40vh - 15vh;
      @media (max-width: $responsive-mobile-big) {
        top: 15vh !important;
      }
      @media (max-width: $responsive-mobile-small) {
        top: 15vh !important;
      }
    }
    h2 {
      position: relative;
      top: 40vh - 17vh;
      min-height: 100px;
      @media (max-width: $responsive-laptop) {
        top: 35vh - 12vh;
      }
      &#typed {
        @media (max-width: $responsive-mobile-big) {
          font-size: 1.4rem;
          top: 15vh;
        }
        @media (max-width: $responsive-mobile-small) {
          font-size: 1.4rem;
          top: 15vh;
        }
      }
    }
    canvas {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    img.number-header {
      width: 100%;
      object-fit: contain;
      max-width: 1000px;
      margin: 0px auto;
      position: absolute;
      top: 20vh - 5vh;
      z-index: 1;
      left: 0;
      right: 0;
      display: none;
      @media (max-width: $responsive-laptop) {
        max-width: 800px;
      }
    }
    .cta-btn {
      position: relative;
      top: 40vh - 10vh;
      z-index: 2;
      @media (max-width: $responsive-laptop) {
        top: 35vh - 15vh;
      }
      @media (max-width: $responsive-mobile-big) {
        top: 10vh !important;
        font-size: 1.2rem !important;
      }
      @media (max-width: $responsive-mobile-small) {
        top: 10vh !important;
        font-size: 1.2rem !important;
      }
    }
  }
  &.servicios {
    background-color: #f2f2f2;
    background-color: #FFFFFF;
  }
  &.servicios-2 {
    background-color: #FFF;
  }
  &.herramientas {
    background-color: #f2f2f2;
  }
  &.nosotros-1 {
    background-color: #1d2754; /* Old browsers */
    background: -moz-linear-gradient(left, #1d2754 1%, #131a3b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1d2754 1%,#131a3b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1d2754 1%,#131a3b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2754', endColorstr='#131a3b',GradientType=1 );
    background-image: url('../img/bg-squares-nosotros-blue.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 750px;
  }
  &.nosotros-2 {
    background-color: #FFF;
    background-image: url('../img/bg-squares-nosotros-white.png');
    background-position: center;
    background-size: 83.2%;
    background-repeat: no-repeat;
    min-height: 750px;
  }
}
h1 {
  font-family: $font-1;
  color: #FFF;
  font-size: $header-title-size;
  font-weight: 300;
  text-align: center;
  margin: 20px auto;
  line-height: 1.4;
  z-index: 2;
  @include font-smoothing;
  span {
    font-weight: 500;
  }
}
h2 {
  font-family: $font-1;
  color: #FFF;
  font-size: $header-subtitle-size;
  font-weight: 300;
  text-align: center;
  margin: 20px auto;
  line-height: 1.6;
  z-index: 2;
  @include font-smoothing;
  span {
    font-weight: 500;
  }
}
h3 {
  font-family: $font-1;
  color: $font-color-1;
  font-size: $section-title-size;
  font-weight: 500;
  text-align: center;
  margin: 20px auto;
  line-height: 1.4;
  @include font-smoothing;
  span {
    font-family: $font-1;
    color: $font-color-1;
    font-size: $section-title-size;
    font-weight: 600 !important;
    text-align: center;
    margin: 20px auto;
    line-height: 1.4;
    @include font-smoothing;
  }
}
h4 {
  font-family: $font-1;
  color: $font-color-1;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  margin: 20px auto;
  @include font-smoothing;  
}
h5 {
  font-family: $font-1;
  color: $font-color-2;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  margin: 20px auto;
  @include font-smoothing;
  text-transform: uppercase;
}
p {
  font-family: $font-1;
  color: $font-color-1;
  font-size: $paragraph-size;
  font-weight: 400;
  text-align: center;
  margin: 30px auto;
  line-height: 1.6;
  @include font-smoothing;
  span {
    font-family: $font-1;
    color: $font-color-1;
    font-size: $paragraph-size;
    font-weight: 400;
    text-align: center;
    margin: 30px auto;
    line-height: 1.6;
    @include font-smoothing;
    font-weight: 500 !important;
  }
}
a.cta-btn {
  width: 100%;
  max-width: 350px;
  margin: 20px auto;
  height: 70px;
  background-color: $primary-color;
  color: #FFF;
  font-size: $button-text-size;
  font-weight: 400;
  text-align: center;
  border-radius: 400px;
  transition: all ease-in-out 0.3s;
  @include font-smoothing;
  i {
    margin-left: 10px;
    color: #FFF;
  }
  &:hover {
    background-color: darken($primary-color, 20%);
    text-decoration: none;
    transform: scale(1.1);
  }
}
.service-container {
  background-color: transparent;
  width: 100%;
  padding: 30px;
  min-height: 400px;
  margin: 20px auto;
  border-radius: 10px;
  &:hover {
    background-color: $primary-color;
    transition: all ease-in-out 0.3s;
    h4 {
      color: #FFF !important;
      transition: all ease-in-out 0.3s;
      @media (max-width: 992px) and (min-width: 786px) {
        font-size: 0.8rem;
      }
    }
    a.expand-btn {
      border: 2px solid #FFF !important;
      transition: all ease-in-out 0.3s;  
      i {
        color: #FFF !important;
        transition: all ease-in-out 0.3s;
      }    
    }
    .service-expand-text-1 {
      color: #FFF;
      transition: all ease-in-out 0.3s;
      &.active-text-1 {
        display: block;
        transform: scale(1);
      }     
    }
    .service-expand-text-2 {
      color: #FFF;
      transition: all ease-in-out 0.3s;
      &.active-text-2 {
        display: block;
        transform: scale(1);
      }     
    }
    .service-expand-text-3 {
      color: #FFF;
      transition: all ease-in-out 0.3s;
      &.active-text-3 {
        display: block;
        transform: scale(1);
      }     
    }
    .service-expand-text-4 {
      color: #FFF;
      transition: all ease-in-out 0.3s;
      &.active-text-4 {
        display: block;
        transform: scale(1);
      }     
    }
  }
  img.service-icon {
    width: 100%;
    height: 130px;
    margin: 20px auto;
    object-fit: contain;
    &.service-icon-2 {
      padding-left: 20px;
    }
    &.service-icon-3 {
      padding-left: 20px;
    }
    &.service-icon-4 {
      padding-left: 20px;
    }
  }
  h4 {
    width: 80%;
    margin: 20px auto;
    min-height: 70px;
  }
  a.expand-btn {
    background-color: transparent;
    border: 2px solid #000;
    width: 100%;
    border-radius: 100px;
    max-width: 45px;
    height: 45px;
    margin: 20px auto;
    @include font-smoothing;
    &:hover {
      text-decoration: none !important;
      transform: scale(1.1);
      cursor: pointer;
    }
    i {
      color: #000;
    }
  }
  .service-expand-text-1 {
    display: none;
    transform: scale(0);
    color: $font-color-1;
    font-family: $font-1;
    font-size: $expand-text-size;
    line-height: 1.6;
    font-weight: 400;
    margin: 20px auto;
    @include font-smoothing;
  }
  .service-expand-text-2 {
    display: none;
    transform: scale(0);
    color: $font-color-1;
    font-family: $font-1;
    font-size: $expand-text-size;
    line-height: 1.6;
    font-weight: 400;
    margin: 20px auto;
    @include font-smoothing;
  }
  .service-expand-text-3 {
    display: none;
    transform: scale(0);
    color: $font-color-1;
    font-family: $font-1;
    font-size: $expand-text-size;
    line-height: 1.6;
    font-weight: 400;
    margin: 20px auto;
    @include font-smoothing;
  }
  .service-expand-text-4 {
    display: none;
    transform: scale(0);
    color: $font-color-1;
    font-family: $font-1;
    font-size: $expand-text-size;
    line-height: 1.6;
    font-weight: 400;
    margin: 20px auto;
    @include font-smoothing;
  }
}
.herramientas-container {
  width: 100%;
  max-width: 120px;
  min-height: 120px;
  background-color: #FFF;
  border-radius: 200px;
  margin: 20px auto;
  transition: all ease-in-out 0.3s;
  &:hover {
    background-color: #000;
    i {
      color: #FFF !important;
    }
  }
  i {
    color: #000;
    font-size: 4rem;
    &.icon-swift {
      color: #fb4c29;
    }
    &.icon-java {
      color: #0074b9;
    }  
    &.icon-react-native {
      color: #000;
    } 
    &.icon-angular-js {
      color: #dd0031;
    }   
    &.icon-react {
      color: #05a5d1;
    }   
    &.icon-vue-js {
      color: #4fc08d;
    } 
    &.icon-html5 {
      color: #e54c21;
    }
    &.icon-css3 {
      color: #264de4;
    }
    &.icon-sass {
      color: #c6538c;
    }
    &.icon-php {
      color: #7c88b8;
    }
    &.icon-mysql {
      color: #4479a1;
    }
  }
}
.row {
  &.full-width {
    width: 100%;
  }
}
.nosotros-1 {
  position: relative;
  h3 {
    color: #FFF;
    width: 100%;
    max-width: 700px;
    font-weight: 300;
    margin: 30px auto;
    span {
      color: #FFF;
    }
  }
  p {
    color: #FFF;
    font-weight: 300;
    span {
      color: #FFF;
    }
  }
  img.venezuelan-map {
    width: 100%;
    object-fit: contain;
    height: 650px;
    position: absolute;
    bottom: -400px;
    @media (max-width: $responsive-laptop) {
      bottom: -300px;
    }
    margin: 0px auto;
  }
}
.nosotros-2 {
  h3 {    
    color: $font-color-1;
    font-weight: 300;
    width: 100%;
    max-width: 740px;
    margin: 30px auto;
    margin-top: 400px;
    span {
      color: $primary-color;
    }
  }
  p {
    color: $font-color-1;
    span {
      color: $font-color-1;
    }
  }
}
footer {
  width: 100%;
  min-height: 600px;
  background-color: darken($primary-color, 40%);
  padding: 3vh;
  @media (max-width: $responsive-mobile-big) {
    padding-top: 84px;
    padding-bottom: 84px;
  }
  h3 {
    color: #FFF;
  }
  form.full-width {
    width: 100%;
    margin-bottom: 40px;
  }
  input.form-control {
    color: #FFF;
    background-color: transparent;
    border: solid 2px #FFF;
    font-family: $font-1;
    font-size: $email-size;
    font-weight: 400;
    text-align: left;
    padding-left: 50px;
    width: 100%;
    max-width: 700px;
    height: 60px;
    margin: 20px auto;
    border-radius: 100px;
    &:focus {
      background-color: transparent;
      color: #FFF;
      outline: white;
    }
    &.active {
      background-color: transparent;
      color: #FFF;
    }
    @include placeholder {
      color: #FFF !important;
      font-family: $font-1;
    }
  }
  a.enviar-btn {
    width: 100%;
    max-width: 200px;
    height: 50px;
    border-radius: 300px;
    font-family: $font-1;
    font-weight: 400;
    font-size: 1.5rem;
    color: darken($primary-color, 40%);
    text-align: center;
    margin: 50px auto;
    background-color: #FFF;
    transition: all ease-in-out 0.3s;
    transform: scale(1);
    border: none !important;
    &:hover {
      transform: scale(1.1);
      background-color: darken(#FFF, 10%);
      cursor: pointer;
      text-decoration: none;
    }
    i {
      margin-left: 10px;
      color: darken($primary-color, 40%);
    }
  }
}
ul.footer-list {
  width: 100%;
  min-height: 200px;
  padding-left: 0 !important;
  margin: 0px;
  list-style: none !important;
  li {
    width: 100%;
    font-family: $font-1;
    color: #FFF;
    font-size: $footer-list-size;
    font-weight: 400;
    text-align: left;
    margin-bottom: 15px;
    list-style: none !important;
    a {
      font-family: $font-1;
      color: #FFF;
      font-size: $footer-list-size;
      font-weight: 400;
      text-align: left;
      transition: all ease-in-out 0.3s;
      &:hover {
        text-decoration: none !important;
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
}
ul.footer-social-list {
  width: 100%;
  max-width: 200px;
  padding-left: 0 !important;
  margin: 0px;
  margin-right: 0px;
  list-style: none !important;
  li {
    width: 100%;
    margin-right: 0;
    color: #FFF;
    list-style: none !important;
    a {
      width: 100%;
      color: #FFF;      
      &:hover {
        text-decoration: none !important;
        cursor: pointer;
        i {
          transform: scale(1.1);
        }
      }
      i {
        color: #FFF;
        font-size: 2rem;
        transition: all ease-in-out 0.3s;
        transform: scale(1);
      }
    }
  }
}
.footer-column-container {
  width: 90%;
  margin: 0px auto;
}
.no-margin-right {
  margin-right: 10px !important;
}
p.footer-text {
  font-family: $font-1;
  font-size: $footer-text-size;
  font-weight: 400;
  text-align: left;
  line-height: 1.6;
  color: #FFF;
  margin-top: 0px;
  margin-bottom: 15px;
  i {
    margin-right: 10px;
  }
  a {
    color: #FFF;
    &:hover {
      cursor: pointer;
    }
  }
}
p.footer-copyright {
  font-family: $font-1;
  font-size: $footer-copyright-size;
  text-align: left;
  line-height: 1.6;
  font-weight: 300;
  color: #FFF;
  margin-top: 0px;
  margin-bottom: 0px;
}
.footer-line-2 {
  margin-top: 20px;
}
.carreras {
  position: relative;
  padding-top: 10vh;
  padding-bottom: 10vh;
  min-height: 80vh;
  background-color: #f2f2f2;
  h3 {
    font-family: $font-1;
    color: #000;
    font-weight: 600;
    text-align: left;
  }
  p {
    font-family: $font-1;
    color: #333;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
    font-size: 1.2rem;
  }
  ul {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    text-align: left;
    li {
      font-family: $font-1;
      color: #333;
      font-weight: 400;
      list-style-type: disc;
      margin-bottom: 10px;
      font-size: $carreras-text-size;
      line-height: 1.6;
      text-align: left;
    }
  }
  img.img-carreras {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    margin-right: 0px;
    box-shadow: 0px 0px 20px 0px rgba(51, 51, 51, 0.29);
  }
  button[type="submit"] {
    width: 100%;
    max-width: 250px;
    height: 50px;
    border-radius: 300px;
    font-family: $font-1;
    font-weight: 400;
    font-size: 1.5rem;
    color: #FFF;
    text-align: center;
    margin: 50px auto;
    background-color: $primary-color;
    transition: all ease-in-out 0.3s;
    transform: scale(1);
    border: none !important;
    &:hover {
      transform: scale(1.1);
      background-color: darken($primary-color, 10%);
      cursor: pointer;
    }
    i {
      margin-left: 10px;
      color: #FFF;
    }
  }
}
.apply-button-expand-text {
  width: 130%;
  @media (max-width: 768px) {
    width: 100%;
  }
  background-color: rgb(241, 241, 241);
  border-radius: 200px;
  color: #000;
  padding: 10px;
  padding-left: 30px;
  font-family: $font-1;
  font-weight: 400;
  text-align: left;
  font-size: 1.2rem;
  transform: scale(0);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  transition: all ease-in-out 0.3s;
  transform-origin: left;
  opacity: 0;
  i {
    color: #000;
    margin-right: 7px;
    margin-left: 7px;
  }
  a {
    color: $primary-color;
    margin-left: 5px;
    &:hover {
      text-decoration: none;
      cursor: pointer;
      font-family: $font-1;
      font-weight: 400;
      text-align: left;
      font-size: 1.2rem;
    }
  }
  &.active-text-apply-button {
    transform: scale(1);
    opacity: 1;
  }
}
.image-desktop-carreras-right {
  position: absolute;
  right: 0vw;
  top: 15vh;
  img {
    width: 100%;
    max-width: 40vw !important;
    @media (max-width: 767px) {
      display: none !important;
    }
    @media (max-width: $responsive-mobile-small) {
      display: none !important;
    }
    @media (max-width: $responsive-mobile-big) {
      display: none !important;
    }
    @media (max-width: $responsive-ipad) {
      display: none !important;
    }
  }
}
ul.navbar-261 {
  margin: 0;
  padding-left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  &.scrolled {
    background-color: #FFF !important;
    box-shadow: 0px -4px 8px 0px #333;
    a.lang-switch {
      color: #FFF !important;
      &:hover {
        color: #FFF !important;
        border-color: $primary-color !important;
      }
    }
    li {
      color: #000 !important;
      &.contactanos {
        a {
          border-color: #000 !important;
          &:hover {
            color: #FFF !important;
            border-color: $primary-color !important;
          }
        }        
      }
      a {
        color: #000 !important;
      }
    }    
  }
  a.lang-switch {    
    color: #FFF;
    border-color: #000 !important;
    transition: all ease-in-out 0.2s;
    padding-right: 7px;
    font-size: $navbar-font-size;
    &:hover {
      border-color: $primary-color !important;
      transition: all ease-in-out 0.2s;
      }
    }
  @media (max-width: 768px) {
    display: none;
  }
  li {
    width: 100%;
    text-align: center;
    font-family: $font-1;
    font-size: $navbar-font-size;
    color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0.8;
    &.contactanos {
      padding-right: 30px;
      margin-left: auto;
      justify-content: flex-end;  
      flex: 0.6;
      a {
        width: 100%;
        max-width: 260px;
        border-radius: 50px;
        border: 1.5px solid white;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: transparent;
        transition: all ease-in-out 0.3s; 
        justify-content: center;       
        &:hover {
          background-color: $primary-color;
          border-color: $primary-color;
          transform: scale(1.1);
          cursor: pointer;
        }
        i {
          margin-right: 7px;
        }
      }
    }
    &.logo {
      flex: 2;
      a {
        justify-content: flex-start;
        padding-left: 30px;        
      }
    }
    a {
      width: 100%;
      text-align: center;
      font-family: $font-1;
      font-size: $navbar-font-size;
      @media (max-width: 992px) and (min-width: 786px) {
        font-size: $navbar-font-size - 0.4rem;
      }
      color: #FFF;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        color: #FFF;
        cursor: pointer;
      }
    }
  }
}
ul.navbar-261-mobile {
  width: 100%;
  background-color: transparent;
  height: 10vh;
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  @media (max-width: 767px) {
    display: flex;
  }
  &.scrolled {
    background-color: #FFF !important;
    box-shadow: 0px -4px 8px 0px #333;
    button.hamburger {
      .hamburger-inner {
        background-color: #000 !important;
        &:before {
          background-color: #000 !important;
        }
        &:after {
          background-color: #000 !important;
        }
      }
    }
    li {
      color: #000 !important;
      &.contactanos {
        a {
          border-color: #000 !important;
          &:hover {
            color: #FFF !important;
            border-color: $primary-color !important;
          }
        }        
      }
      a {
        color: #000 !important;
      }
    }
    li.lang-select {
      ul.lang-select-dropdown-title {
        color: #000;        
      }
    }
  }  
  li.logo {
    margin-right: auto;
    margin-left: 0;
    padding-left: 15px;
    color: #000;
    font-size: $navbar-font-size;
    font-family: $font-1;
    display: flex;
    flex-direction: row;
    align-items: center;
    a {
      color: #000;
      text-decoration: none;
      font-size: $navbar-font-size;
      font-family: $font-1;
      &:hover {
        cursor: pointer;
      }
    }
  }
  li.lang-select {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -15%;
    margin-top: 1%;
    flex: 0;
    ul.lang-select-dropdown-title {
      color: #FFF;
      font-size: 1.5rem;
      li.dropdown-option {
        list-style-type: none;
        position: fixed;
        a {
          font-size: 1rem;
          color: #FFF !important;
        }
      }
      li.dropdown-option.option-1 {
        top: 66px !important;
      }
      li.dropdown-option.option-2 {
        top: 105px !important;
        padding-top: 2px !important;
        padding-left: 7px !important;
        padding-bottom: 7px !important;
      }
    }
  }
  li.menu-trigger {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    button.hamburger {
      .hamburger-inner {
        background-color: #FFF;
        &:before {
          background-color: #FFF;
        }
        &:after {
          background-color: #FFF;
        }
      }
    }
  }
}
.options-mobile {
  width: 100%;
  height: 90vh;
  background-color: #FFF;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 10vh;
  left: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  &.active {
    left: 0vw;
  }
  li {
    list-style: none;
    width: 100%;
    height: 50px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #000;
    font-family: $font-1;
    font-size: $navbar-font-size;
    text-align: center;
    font-weight: 400;
    &:hover {
      background-color: darken(#FFF, 20%);
    }
    a {
      width: 100%;
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: #000;
      font-family: $font-1;
      font-size: $navbar-font-size;
      text-align: center;
      font-weight: 500;
      text-decoration: none;
      &:hover {
        cursor: pointer;
      }
      i {
        margin-right: 7px;
      }
    }
  }
}

//Responsive laptop
@media (max-width: $responsive-laptop) {
  h1 {
    font-size: $header-title-size - 1.5rem;
    span {
      font-size: $header-title-size - 1.5rem;
    }
  }
  h2 {
    font-size: $header-subtitle-size - 0.5rem;
    span {
      font-size: $header-subtitle-size - 0.5rem;
    }
  }
  h3 {
    font-size: $section-title-size - 0.5rem;
    span {
      font-size: $section-title-size - 0.5rem; 
    }
  }
  p {
    font-size: $paragraph-size - 0.2rem;
    span {
      font-size: $paragraph-size - 0.2rem;
    }
  }
  .service-container {
    min-height: 390px;
  }
  img.service-icon {
    height: 100px !important;
  }
  .herramientas-container {
    width: 120px;
    height: 120px;
    i {
      font-size: 3.5rem;
    }
  }
  .venezuelan-map {
    height: 750px !important;
  }
  .carreras {
    position: relative;
    p {
      font-size: 1.2rem;
    }
    ul {
      li {
        font-size: $carreras-text-size;
        text-align: left;
      }
    }
    img.img-carreras {
      width: 100%;
      max-width: 500px;
      margin: 20px auto;
      margin-right: 0px;
    }
    button[type="submit"] {
      font-size: 1.5rem;
      color: #FFF;
      background-color: $primary-color;
      &:hover {
        transform: scale(1.1);
        background-color: darken($primary-color, 10%);
        cursor: pointer;
      }
      i {
        margin-left: 10px;
        color: #FFF;
      }
    }
  }
  .image-desktop-carreras-right {
    position: absolute;
    right: 0vw;
    top: 10vh;
    img {
      width: 100%;
      max-width: 40vw !important;
    }
  }
}
//Responsive Mobile
@media (max-width: $responsive-mobile-small) {
  h1 {
    font-size: $header-title-size - 3rem;
    span {
      font-size: $header-title-size - 3rem;
    }
  }
  h2 {
    font-size: $header-subtitle-size - 1.5rem;
    span {
      font-size: $header-subtitle-size - 1.5rem;
    }
  }
  h3 {
    font-size: $section-title-size - 1rem;
    span {
      font-size: $section-title-size - 1rem; 
    }
  }
  p {
    font-size: $paragraph-size - 0.7rem;
    span {
      font-size: $paragraph-size - 0.7rem;
    }
  }
  section {
    min-height: 90vh !important;
  }
  section.header {
    h1 {
      top: 30vh;
    }
    h2 {
      top: 30vh;
    }
    .cta-btn {
      top: 20vh;
      height: 50px;
    }
  }
  .cta-btn {
    font-size: 1rem !important;
  }
  .service-container {
    min-height: 300px;
  }
  img.service-icon {
    height: 80px !important;
  }
  h4 {
    font-size: 1.2rem !important;
    min-height: 50px !important;
  }
  .herramientas-container {
    width: 120px;
    height: 120px;
    i {
      font-size: 3.5rem;
    }
  }
  .venezuelan-map {
    height: 750px !important;
    bottom: -370px !important;
  }
  section.nosotros-2 {
    h3 {
      margin-top: 30vh;
    }
  }
  .footer-list {
    li {
      text-align: center !important;
      a {
        text-align: center !important;
      }
    }
  }
  .footer-text {
    font-size: $footer-text-size - 0.2rem !important;
    text-align: center !important;
  }
  .footer-copyright {
    text-align: center !important;
    margin-bottom: 30px !important;
  }
  .footer-social-list {
    justify-content: center !important;
  }
  .footer-column-container {
    justify-content: center !important;
    img {
      width: 100%;
      max-width: 300px;
      margin: 30px auto;
    }
  }
  .full-width {
    margin: 0px;
  }
  .carreras {
    position: relative;
    min-height: 60vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    @media (max-width: $responsive-mobile-big) {
      padding-top: 84px;
      padding-bottom: 84px;
    }
    h3 {
      font-size: 2rem;
      text-align: center;
    }
    p {
      font-size: 1rem;
      text-align: center;
    }
    ul {
      li {
        font-size: $carreras-text-size - 0.2rem;
        text-align: left;
      }
    }
    img.img-carreras {
      width: 100%;
      max-width: 500px;
      margin: 20px auto;
      margin-right: 0px;
    }
    button[type="submit"] {
      font-size: 1.5rem;
      color: #FFF;
      background-color: $primary-color;
      margin: 10px auto;
      width: 100%;
      max-width: 300px;
      &:hover {
        transform: scale(1.1);
        background-color: darken($primary-color, 10%);
        cursor: pointer;
      }
      i {
        margin-left: 10px;
        color: #FFF;
      }
    }
  }
  .image-desktop-carreras-right {
    position: absolute;
    right: 0vw;
    top: 0vh;
    img {
      width: 100%;
      max-width: 40vw !important;
    }
  }
}
@media (max-width: 1280px) {
  .image-desktop-carreras-right img {
    max-width: 40vw !important;
  }
  .venezuelan-map {
    height: 650px !important;
  }
  p.footer-text {
    font-size: 1rem;
  }
}
//Dropdown lang css
ul.lang-select-dropdown-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 0;
    &:hover {
      cursor: pointer;
    }
    img {
      width: 100%;
      height: 10px;
    }
    li.dropdown-option {
      text-align: right;
      background-color: #1d2754;
      position: absolute;
      top: 50px;
      transform: translateX(160px);
      transition: 0.2s all ease-in-out; 
      opacity: 0;
      &.dropped {
        transform: translateX(0px);
        opacity: 1;
      } 
      a {
        font-size: 0.8rem;
        text-align: right;
        text-align: right;
        background-color: #1d2754;
        padding: 10px;
        &:hover {
          background-color: #2585fb;
        }
      }
    }
    li.dropdown-option.option-1 {
      top: 53px; 
      right: 0px;
    }
    li.dropdown-option.option-2 {
      top: 90px; 
      right: 0px;
    }   
  }
div.container-clientes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  div.owl-carousel {
    div.logo-cliente {
      cursor: pointer;
      width: 100%;
      height: 300px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        max-width: 240px;
      }
    }
  }  
  ul.lista-clientes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 200px;
    li {
      width: 100%;
      list-style-type: none !important;
      margin-left: 20px;
      margin-right: 20px;
      a {
        width: 100%;
        text-decoration: none !important;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          max-width: 525px;
        }
      }
    }
  }
}